body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
/*FORMATOS PARA LA BARRA DE NAVEGACION*/
nav{
color: #e053ed;
background-image: url("../assets/background4.jpg");
background-size: cover;
}
nav.nav-extended .nav-wrapper{
    height: 20vh;
}
img.responsive-img{
    max-width: 100%;
}
div ul li a i {
    color:#af4fe0;
}
.formatDropdown{
    color:#af4fe0;
    font-weight: bolder;
}
#search{
    color:black;
    background-color: white;
    border-radius: 5px;
}
#format-collapsible{
    width: 100%;
    background-color:transparent;
}
.collapsible-body a i.material-icons{
    color:black;
}
.collapsible-body {
  width: 100%;
}
h3{
    margin-top:25px;
    padding-top:10px;
    font-family: 'Pinyon Script', cursive;
    font-weight: 500;
    font-size: 48px;
    font-weight: 500;
}

nav i.material-icons {
    color: #af4fe0;
    font-size: 30px;
}
/*FORMATOS TABS*/
.tabs.tabs-transparent .tab a{
    color: #af4fe0;
    font-size: 18px;
    font-family: 'Modern Antiqua', cursive;
    font-weight: bolder;
    padding: 0 30px;
}
/*FORMATOS CARRUSEL*/
.carousel{
    height: 50vh;
}

.carousel .carousel-item>img {
    height: 50vh;
}

/*formatos Footer */
.container div.format-text-footer{
    color:#af4fe0;
    font-size: 20px;
    display: inline-block;
    background-color:white;
    padding: 5px;
    border-radius: 4%;
    /*border:1px double #af4fe0;*/
    margin: 5px;
    font-weight: 500;
}
footer {
 background-color: #ffddf4;
}

.format-text-footer{
  color:#ab47bc;
  font-weight: bolder;
}
.container{
    max-width: 100%;
    color:#ab47bc;
}
#format-row-footer{
margin-bottom: 5px;
}
.format-img-redes{
    height: 20vh;
    width: 100%
    }

    #reserve-rigths{
        padding: 1em;
        text-align: center;
    width: 100%;
    background-color: black;
    color: lightgray;
    }

/*FORMATOS PARA EL CONTENIDO PRINCIPAL PRIMERA SECCION */
.format-First-Item{
    background-image: url("../assets/accesoriosCabello.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    opacity: 0.8; 
}
.format-First-second{
    background-image: url("../assets/aretes2.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    opacity: 0.8; 
}
.format-First-third{
    background-image: url("../assets/collares.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    height: 70vh;
}
#first-Image, #second-Image, #third-Image{
   margin-top: 1em;
   margin-left:6em;
}
 section  div p{
     color:white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 45px;
     font-weight: bolder;
     margin-top:25vh;
 }

/*formatos segunda seccion*/
 .format-img-section2{
    width: 100%;
 }
 .format-img1-section2{
    background-image: url("../assets/collares2.png");
    background-size: cover;
    background-position: center;
    height: 70vh;
    opacity: 0.8;
 }
 section div .format-img1-section2 p{
     color:black;
     font-size: 45px;
     margin-left: 20em;
 }
 section div .format-img1-section2 a span{
     color:black;
      font-size:25px;
      font-weight: bolder;
      margin-left: 75px;
 }
/* tercera seccion */
.format-img-section3{
    width: 100%;
    height: auto;
}
/*formatos para el template*/
.format-template{
    border-radius: 2%;
    height: auto;
    margin-top:2em;

}
.format-img-description{
    width: 100%;
    border: 2px solid #ab47bc;
    border-radius: 5%;
    /* height: 35vh; */
}
.format-text-template{
  font-size: 15px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bolder;
  /* margin: 50px; */
}
div>span.format-icons-card>a>i{
  font-size: 20px;
  color:purple;
  /* margin-bottom: 1em; */
}
div>span.format-icons-card>a>i.card-move{
    margin-left:1em;
}
div>span.format-icons-card>a>i.heart-move{
   float: right; 
    margin-right: 1.5em;
}
/* #template-Product-description{
    margin:50px;
} */
 #product1, #product2, #product3{
    height: fit-content;
}



/*FORMATOS LOGIN*/
.btn{
background-color: #ab47bc;
color:white;
}
section div form{
    border:2px solid #ab47bc;
    border-radius: 5%;
}
#format-checkbox{
    margin-top: -30px;
    padding:0;
}
section div form h6{
    padding-left: 2em;
}
.format-newClient{
font-size: 21px;
line-height: 1.2;
font-family: 'Patrick Hand', cursive;
}

/*FORMATOS CARRITO DE COMPRAS*/
.format-title-buys{
    border-bottom: 4px double #ab47bc;
    font-weight: bolder;
    font-size: 18px;
}
.format-finish-buy{
    border:2px solid #ab47bc;
    border-radius: 5%;
    margin-bottom: 1em;
    height:35vh;
    margin-left: 1em;
}
.formt-text-mobiledesktop{
    font-size: 18px;
}
.execute-buy{
font-size: 15px;
color:black;
}
.text-size{
    font-size: 28px;
    text-align: center;
}
.title-for-mobile{
    font-size: 40px;
    font-weight: bolder;
    color: #ab47bc;
    font-family: 'Patrick Hand', cursive;
    margin-bottom: 1px solid #ab47bc;
    margin-left: 2em;
}
.format-more{
    font-size: 15px;
    color:black;
    font-weight: bolder;

}

/*FORMATOS PARA EL TEMPLATE DE UN SOLO PRODUCTO*/
.small-pictureArticule{
    width: 50%;
    height: 20vh;
}
.articuleImageDemostration{
    padding-left: 1em;
    width: 50%;
    height: 45vh;
}

/*FORMATOS TABLET*/
@media(max-width:772px){
     /*FORMATOS SEGUNDA SECCION*/
     section div .format-img1-section2 p{
        color:black;
        font-size: 15px;
        margin-left: 35em;
    }
    section div .format-img1-section2 a span{
        color:black;
         font-size:10px;
         font-weight: bolder;
         margin-left: 50px;
    }
    .format-img1-section2{
        background-image: url("../assets/collares2.png");
        height: 45vh;
    }
    nav.nav-extended .nav-wrapper{
        height: 25vh;
    }
    #first-Image, #second-Image, #third-Image{
        margin-top: 1em;
        margin-left:3em;
     }
    
}



/*FORMATOS PARA VERSION MOBILE*/
@media(max-width:425px){
    h3{
        font-family: 'Pinyon Script', cursive;
        font-weight: 500;
        font-size: 30px;
        font-weight: 700;
    }
    /*FORMATOS TABS*/
    .tabs.tabs-transparent .tab a{
        color: #af4fe0;
        font-size: 10px;
        font-family: 'Modern Antiqua', cursive;
        padding: 0 2px;
    }

    #search{
        color:black;
        background-color: white;
        border-radius: 5px;
        width: 80%;
        margin-left: 1em;
    }
    /*FORMATOS CARRUSEL*/
    .carousel{
        height: 20vh;
    }
    .carousel .carousel-item>img {
        height: 20vh;
    }

    /*FORMATOS FOOTER*/
    .container div .format-text-footer{
        color:#af4fe0;
        font-size: 10px;
       font-weight: bolder;
        display: inline-block;
        background-color:white;
        padding: 5px;
        border-radius: 4%;
        margin: 1px;
    }
    /*FORMATOS PRIMERA SECCION*/
    .format-First-Item{
        background-image: url("../assets/accesoriosCabello.jpg");
        background-size: cover;
        background-position: center;
        height: 30vh;
        opacity: 0.8; 
    }
    .format-First-second{
        background-image: url("../assets/aretes2.jpg");
        background-size: cover;
        background-position: center;
        height: 30vh;
        opacity: 0.8; 
    }
    .format-First-third{
        background-image: url("../assets/collares2.png");
        background-size: cover;
        background-position: center;
        height: 30vh;
        opacity: 0.7;
    }
    #first-Image, #second-Image, #third-Image{
       margin-top: 1em;
       margin-left:2em;
    }
    section  div p{
        color:white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bolder;
        margin-top:15vh;
    }
    #first-Image:hover{
        opacity: 1;
    }
  
    /*FORMATOS SEGUNDA SECCION*/
    section div .format-img1-section2 p{
        color:black;
        font-size: 15px;
        margin-left: 20em;
    }
    section div .format-img1-section2 a span{
        color:black;
         font-size:10px;
         font-weight: bolder;
         margin-left: 75px;
    }
    .format-img1-section2{
        background-image: url("../assets/collares2.png");
        height: 25vh;
    }
   /*formatos para el template*/
    .format-template{
        border-radius: 2%;
        height: auto;
        margin-top:2em;

    }
    .format-img-description{
        width: 100%;
        border: 2px solid #ab47bc;
        border-radius: 5%;
    }
    .format-text-template{
        font-size: 10px;
        font-family: 'Patrick Hand', cursive;
        font-weight: bolder;
    }
    div>span.format-icons-card>a>i{
        font-size: 10px;
        color:purple;
        /* margin-bottom: 1em; */
      }
      div>span.format-icons-card>a>i.card-move{
        margin-left:1em;
    }
    div>span.format-icons-card>a>i.heart-move{
       float: right; 
        margin-right: 1.5em;
    }
    /* #template-Product-description{
        margin:50px;
    } */
     #product1, #product2, #product3{
        height: fit-content;
    }
    .format-more{
        margin-left: 5px;
        font-size: 12px;
        color:black;
        text-decoration: none;
    }

    /*FORMATOS CARRITO DE COMPRAS*/
    .format-title-buys{
    font-weight: bolder;
    font-size: 14px;
    }
    .formt-text-mobiledesktop{
        font-size: 10px;
    }
    .title-for-mobile{
        font-size: 18px;
    }
    .text-size{
        font-size: 18px;
    }
    .format-finish-buy{
        margin-bottom: 0;
        height:55vh;
        margin-left: 1em;
    }
}



